<div id="content" class="help">
    <div id="column1" class="dark">
        <div class="col_footer">
            <div class="col_header">
                <div class="col_content" id="DarkLeft">
                    
                    <div class="formTitle">Upload an Android build</div>
                    <div style="margin-bottom: 29px;">
                    </div>

                    <%= render 'form' %>

                </div>
            </div>
        </div>
    </div>
    
    <div class="clearall"></div>
</div>