<div class="home-intro-heading">
  Welcome to AppDorm - a private market for Android apps
</div>

<div class="home-intro-body">
This website can be used to setup private Android app markets quickly and easily. This website is free to use by anyone including
small and large companies, government agencies, or private individuals. The code here is all open source so you can host your own
private Android market on your own servers and customize it. See the project page here on
<%= link_to "Github.", "https://github.com/larryaasen/AppDorm" %>
</div>

<div class="home-intro-body">
  Need to upload an Android build? Click 
  <%= link_to "here", upload_path %>
</div>

<div class="home-intro-body">
  Need to install a build from your Android device? Click 
  <%= link_to "here", install_path %>
</div>
